<phpunit bootstrap="bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Cielo PHP Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/cielo24</directory>
        </whitelist>
    </filter>
</phpunit>